h1{
    line-height: 110%;
    font-family: serif;
    font-size: 20pt;
    text-align: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #161616; 
}
h3{
    line-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
    text-align: center;
    vertical-align: middle;
    color: white;
}
pre{
    line-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    text-align: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}
p{
    text-align: center;
    padding: 10px;
}

